<div class="app-wrapper">

  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.css">
<script src="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.js"></script>

<div class="ui clearing segment">
  <h1 class="ui right floated header">
    SITE
  </h1>
  <h1 class="ui left floated header">
    MY
  </h1>
</div>
<!-- <h1 class="ui violet header">I am Pratiti</h1> -->
<hr>
<br><br>
<h1 class="ui center aligned header">The Employee name is {{ ename }}<br>
  <!-- The Employee name is {{ ename }}<br> -->
  The Employee project is {{ project }}<br>
  The Employee projectUI is {{ projectUI }}<br>
</h1>
<hr>
<br>
<label class="ui teal ribbon label">
  This is an example of event binding
</label>
<div class="ui labeled button" (click)="display()"tabindex="0">
  <div class="ui red button" (click)="display()">
    <i class="heart icon"></i> Like
  </div>
  <a class="ui basic red left pointing label">
    Click Me
  </a>
</div>
<!-- <button  class="ui violet button" (click)="display()" style="margin: 20px">
click me
</button> -->
<hr>
<br>
<a class="ui big header">
  User name:
  <input type="text" [formControl]="uname" placeholder="Enter name...">
</a>
<p class="ui big header">
  <b>The user name is: {{ uname.value }}</b>
</p>
<br>
<p>
  <button class="ui orange button"(click)="updateName()" style="margin: 20px">
    update the username
    </button>

</p>
<hr>
<br>
<label class="ui pink label">
  Enter height of Pratiti:
</label>
  <input type="text" [formControl]="p_height">
  <br>
  <label class="ui blue label">
    Enter height of Samprikta:
  </label>
    <input type="text" [formControl]="s_height">
    <br>
    <br>
    <!-- <div class="ui labeled button" tabindex="0">
      <div class="ui red button">
        <i class="heart icon"></i> Like
      </div>
      <a class="ui basic red left pointing label">
        Find the taller one
      </a>
    </div> -->
    <button class="ui purple button" (click)="findTall()" style="margin: 20px">
      Find the taller girl:
      </button>
      <br>
      <span *ngIf="jtall; else condition2">
        Pratiti is taller
      </span>
      <ng-template #condition2>
        <div class="ui red label">Samprikta is taller</div> 
      </ng-template>
    </div>
    




